.container {
	gap: 0 5px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.cardsContainerGrid {
	display: flex;
}

.cardsContainerNormal {
	display: block;
}

.card {
	width: 180px;
	text-align: center;
	padding: 6px;
	border: 1px solid black;
	border-radius: 3px;
	font-family: arial;
	font-size: 14px;
	font-weight: 400;
}

.cardLight {
	color: #181818;
	background-color: #ddd;
}

.cardDark {
	color: #fff;
	background-color: #000;
}